@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300&family=Roboto+Condensed&family=Roboto:wght@100&display=swap');

:root {
  --black: #000;
  --primarycolor: #D4D6B9;
  --secondarycolor: #66717E;
  --tertiarycolor: #383B53;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
  transition: all 0.3s ease-in-out;
}





header {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

img {
  margin: 10px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  mix-blend-mode: darken;
}
.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  gap: 2rem;
}
.navbar .icon {
  display: none;
}
a {
  position: relative;
  text-decoration: none;
  font-size: 1.5rem;
  margin-left: 10px;
  padding: 20px;
  font-family: 'Archivo', sans-serif;
  color: var(--black);
}
.navbar a:hover {
  color: darksalmon;
  transition: all 0.3s ease-in-out;
  transform: scale(1.5);
}
span {
  color: var(--tertiarycolor);
  font-weight: bold;
  letter-spacing: 5px;
}

.switch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 3rem;
}

.switch>p>i:hover {
  color: #f5f5f5;
}

.switch>p {
  font-size: 2rem;
}

.switch>i {
  border: 1px solid;
}

#light {
  color: rgb(108, 122, 24);
}
main{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: var(--primarycolor);
}

.card{
  background-color:#7c7c7c80;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: 10px;
  height: 50%;
  width: 40%;
  text-align: center;
  align-items: center;
  align-content: center;
  color: #f5f5f5;
box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;

}
.cardtitle{
 
  width: 100%;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}
.cardtitle > p{
  font-size: 2.5rem;
  font-family: 'Archivo', sans-serif;
}
.cardbody{

  border-radius: 10px;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
 
}
/* table{
  width: 100%;
  height: 100%;
}
td{
  font-size: 1.5rem;
} */
.cardbody button {
  text-align: center;
  width: 50%;
  height: 20%;
  border-radius: 10px;
  border: none;
  color: black;
  margin: 20px;
  cursor: pointer;
  background-color: #32213A;

}
.cardbody button{
  opacity: 0.5;
  box-shadow: 2px 2px 2px #383B53;
}
.cardbody button:hover{
  opacity: 1;
  filter: contrast(100%);
}
.cardbody i {
  font-size: 3rem;
  color: var(--tertiarycolor);
  filter: blur(50%);
}
.cardbody button:hover{
  transition: all 0.3s ease-in-out;
  transform: scale(1.2);
  background-color: #f5f5f5;
}


.email-contact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  width:40%;
  height: 60%;
  align-content: center;
}
.email-contact > p {
  font-size: 3rem;
}
.email-contact > i {
  font-size: 10rem;

}
.messenger-instagram{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  width: 40%;
  height: 100%;
  align-content: center;

}
i:hover{
  transition: all 0.3s ease-in-out;
  transform: scale(1);
  color:var(--tertiarycolor)
}
iframe {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 90%;
  height:50%;
}

.modal
{ 
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-top: 100px;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  
} 

.modal-body{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
  border: none;
  width: 40%;
  height: 50%;
  background-color: #EFE7DA;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  position: relative;
  padding-bottom: 10px;
  top: 20%;
}
/* .modal-body p{
  display: flex;
  font-size: 1rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 10px;
} */
.modal-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  text-transform:uppercase;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  height: 30%;
  color: #f5f5f5;
  background-color: #0E4749;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
/* .body-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 50%;
  align-content: space-between;
  background-color: darksalmon;
  padding: 10px;

} */
.modal-header > i{
  font-size: 4em;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 50%;
  color: #0E4749;
}
.socialmedia > a:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}
.socialmedia > a{
  border-radius: 10px;
  color: #f5f5f5;
  background-color: #0E4749;
  text-align: center;
  
}
.modal-body > a :hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}
.modal-body > h6 {
  letter-spacing: 5px;
}
.socialmedia {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
span > i{
  color: #f5f5f5;
  font-size: 2rem;
}
/* .close{
  color: #949292;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
} */
.circle {
  height: 150px;
  width: 150px;
  position: absolute;
  border-radius: 50%;
  border: none;
  background-color: #79BCB8;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  left: 27%;
  top: 22%;
  z-index: 1;
}

.circle2 {
  width: 150px;
  height: 150px;
  top: 74%;
  left: 67%;
  position: absolute;
  border-radius: 50%;
  border: none;
  background-color: #79BCB8;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  z-index: 1;
}

.circle3 {
  width: 100px;
  height: 100px;
  top: 30%;
  left: 26%;
  position: absolute;
  border-radius: 50%;
  border: none;
  background-color: #3AA7A3;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  z-index: 1;
}

.circle4 {
  width: 20px;
  height: 20px;
  top: 20%;
  left: 48%;
  position: absolute;
  border-radius: 50%;
  border: none;
  background-color: #79BCB8;
  z-index: 1;
}

.circle5 {
  width: 20px;
  height: 20px;
  top: 20%;
  left: 71%;
  position: absolute;
  border-radius: 50%;
  border: none;
  background-color: #3AA7A3;
  z-index: 1;
}

.circle6 {
  width: 20px;
  height: 20px;
  top: 88%;
  left: 38%;
  position: absolute;
  border-radius: 50%;
  border: none;
  background-color: #3AA7A3;
  z-index: 1;
}

.circle7 {
  width: 20px;
  height: 20px;
  top: 88%;
  left: 16%;
  position: absolute;
  border-radius: 50%;
  border: none;
  background-color: #3AA7A3;
  z-index: 1;
}

.rectangle {
  width: 20%;
  height: 20px;
  top: 20%;
  left: 50%;
  position: absolute;
  border: none;
  border-radius: 25px;
  background-color: #3AA7A3;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  z-index: 1;
}

.rectangle2 {
  width: 15%;
  height: 20px;
  top: 23%;
  left: 52%;
  position: absolute;
  border: none;
  border-radius: 25px;
  background-color: #FF934F;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  z-index: 1;
}

.rectangle3 {
  width: 20%;
  height: 20px;
  top: 88%;
  left: 17.5%;
  position: absolute;
  border: none;
  border-radius: 25px;
  background-color: #3AA7A3;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  z-index: 1;
}

.rectangle4 {
  width: 15%;
  height: 20px;
  top: 85%;
  left: 20%;
  position: absolute;
  border: none;
  border-radius: 25px;
  background-color: #FF934F;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  z-index: 1;
}


@media screen and (max-width: 680px) {
  * {
    transition: all 0.3s ease-in-out;
  }
  main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  /* header>.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  } */
header {
  background-color: #7c7c7c80;
}

.navbar {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

/* header > .navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   } */
.navbar a {
  display: none;
}

.navbar a.icon {
  float: right;
  display: flex;
  flex-direction: row;
}

.navbar.responsive {
  position: relative;
}

.navbar.responsive .icon {
  position: absolute;
  left: 0;
  top: 0;
}

.navbar.responsive a {
  float: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
  header>img {
    width: 50px;
    height: 50px;
  }

  .frontend {
    font-size: 0.9rem;
  }

  /* .navbar>a,
  i {
    font-size: 1rem;
  } */
  .card {
   
    width: 70%;
  }
.cardtitle > p{
  font-size: 1.5rem;

}
/* .email-contact > button > i {
  font-size: 1.8rem;
}
.email-contact > button {
  height: 50px;
  width: 50px;
} */
.email-contact > i {
  font-size: 5rem;
}
.messenger-instagram > button > i{
  font-size: 1.8rem;
}
.messenger-instagram > button {
  height: 50px;
  width: 50px;
}
.modal-body{
  width: 90%;
}
.modal-header >h1 {
  font-size: 1.5rem;
}
.modal-header > i {
  font-size: 1.5rem;
}
.socialmedia > a{
  width: 35%;
  height: 40%;
  font-size: 0.9rem;
}
.socialmedia > a > span >i {
  font-size: 0.9rem;
}
  .circle {
    height: 70px;
    width: 70px;
    top: 30%;
    left: 10%;
  }

  .circle2 {
    height: 50px;
    width: 50px;
    top: 80%;
    left: 79%;
  }

  .circle3 {
    height: 50px;
    width: 50px;
    top: 35%;
    left: 10%;
  }

  .circle4 {
    height: 10px;
    width: 10px;
    top: 25%;
    left: 45%;
  }

  .circle5 {
    height: 10px;
    width: 10px;
    top: 25%;
    left: 72%;
  }

  .circle6 {
    height: 10px;
    width: 10px;
    top: 88%;
    left: 42%;
  }

  .circle7 {
    height: 10px;
    width: 10px;
    
  }

  .rectangle {
    top: 25%;
    left: 50%;
    width: 80px;
    height: 10px;
  }

  .rectangle2 {
    position: absolute;
    left: 52%;
    top: 28%;
    width: 60px;
    height: 10px;
  }

  .rectangle3 {
    left: 20%;
    width: 80px;
    height: 10px;
  }

  .rectangle4 {

    width: 60px;
    height: 10px;
    top: 85%;
    left: 21%;
  }

  span {
    font-size: 2rem;
  }

  
}